<template>
  <div>
    <div class="container">
      <!-- this line is used by starport scaffolding # 4 -->
		<SpType modulePath="edx04.validator.validator" moduleType="WhitelistValidator"  />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Types',
}
</script>
